/* Cor personalizada */
:root {
    --accent-bg: #234966;
    --accent: #234966;
}

header {
    color: whitesmoke;
}

/* Foto de perfil */
main img.profile-picture {
    width: 30%;
    float: left;
    margin-right: 1.5rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Todo texto do main deve ser justificado */
main p {
    text-align: justify;
}

main p a {
    text-decoration: none;
}

/* Correção para botão do SimpleCSS */
a[role="button"],
a[role="button"]:visited {
    
    color: var(--bg);
    text-decoration: none;
}

/* Centraliza botões no final da página */
main > nav {
    text-align: center;
    margin-top: 2.5rem;
}

figure img {
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

figcaption {
    margin-bottom: 4rem;
}